.header-main {
  display: flex;
  background-color: #fff !important;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px !important;
  padding: 0 30px !important;
}
.main-logo {
  width: 100px;
  height: 65px;
  background-image: url("https://pngimg.com/uploads/star_wars_logo/star_wars_logo_PNG27.png");
  background-size: contain;
  background-position: 0;
  background-repeat: no-repeat;
}

.icon-parent {
  width: 32px;
  height: 32px;
  background-color: #1890ff;
  border-radius: 50%;
  position: relative;
}
.icon-user {
  font-size: 20px;
  color: #fff !important;
  position: absolute;
  top: 5px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.block-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-right h3 {
  padding: 0 10px;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  padding-right: 20px;
}
